<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create and view a list of your favorite albums!</p>
    <h2>Album List</h2>
    <a href="/new">Add Album</a>
  </body>
</html>
